.product-filter {
    display: flex;
    padding: 30px 0;
}

.sort {
    display: flex;
    align-self: flex-end;
}

.collection-sort {
    display: flex;
    flex-direction: column;
}

@media (max-width: 480px) {
    h1 {
        margin-bottom: 20px;
    }

    .product-filter {
        flex-direction: column;
    }

    .sort {
        align-self: flex-start;
    }
}

@media (max-width: 480px) {
    h1 {
        margin-bottom: 20px;
    }

    .product-filter {
        flex-direction: column;
    }

    .sort {
        align-self: flex-start;
    }
}